*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Segoe UI, sans-serif;
}

body{
  background-image: url('wallpaper.jpg');
  background-position: center;
  background-size: 100%;
  /* background: linear-gradient(90deg, rgba(171,82,207,1) 0%, rgba(215,164,53,1) 100%); */
  height: 100vh;
}

.container{
  backdrop-filter: blur(8px) saturate(186%);
  -webkit-backdrop-filter: blur(6px) saturate(186%);
  background-color: rgba(255, 255, 255, 0.35);
  border-radius: 16px;
  border: 1px solid rgba(209, 213, 219, 0.3);

  position: absolute;
  left: 50%;
  top: 50%;
  width: 500px;
  height: 800px;
  margin-left: -250px;
  margin-top: -400px;

  padding: 30px;
}

.sign-up{
  display:flex;
  justify-content:center;
  align-items:center;
  margin-bottom: 60px;
  color: rgb(59, 59, 59);
  font-size: 30px;

}

form{
  display: flex;
  justify-content:center;
  flex-direction: column;
  margin-bottom: 100px;
  
}

input{
 
  outline: none;
  border-width: 0 0 3px;
  border-color: rgb(59, 59, 59);
  transition: border-color, 0.5s;
  transition: opacity, 0.5s;
  background: transparent;
  font-size: 20px;
}

input:hover{
  border-color: aquamarine;
  opacity: 0.8;
}

input:focus{
  border-color: aquamarine;
}

input.invalid {
  border-color:rgb(204, 59, 59);
}

 .error{
  
  color: rgb(204, 59, 59);
  font-size: 14px;
  margin-bottom: 20px;
}



#fNameError{
   visibility: hidden;
 
}

#sNameError{
  visibility: hidden;
 
}

#passError{
  visibility: hidden;
 
}

#mailError{
  visibility: hidden;
 
}

#phoneError{
  visibility: hidden;

}





.btn{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

button{
  display: inline-block;
  height: 50px;
  width: 200px;
  background-color: rgb(59, 59, 59);
  border: transparent;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
 color: whitesmoke;
 transition: border-color, 0.5s;
 font-size: 24px;
 font-weight: 400;

 text-align: center;
 


}

button:hover{
  /* border: 2px solid aquamarine; */
  border-color: aquamarine;

}

.policy{
  font-size: 14px;
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}



